#selfpic {height: 300px; border-radius: 50%; margin-right: 60px; margin-left: 50px;} 
#sect1 {width: 100%; min-width: none; padding: none; height: 500px; display: flex; flex-direction: column; align-items: center; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; margin-top: 50px;}
#wordsss {width: 800px;}